# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

# Idea from: https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/kyria/Kconfig.shield

config SHIELD_KRETSTRAD
    bool

config SHIELD_KRETSTRAD_LEFT
    def_bool $(shields_list_contains,kretstrad_left)
    select SHIELD_KRETSTRAD

config SHIELD_KRETSTRAD_RIGHT
    def_bool $(shields_list_contains,kretstrad_right)
    select SHIELD_KRETSTRAD

config SHIELD_KRETSTRAD_V2_LEFT
    def_bool $(shields_list_contains,boards/shield/kretstrad_v2/kretstrad_v2_left)
    select SHIELD_KRETSTRAD

config SHIELD_KRETSTRAD_V2_RIGHT
    def_bool $(shields_list_contains,boards/shield/kretstrad_v2/kretstrad_v2_right)
    select SHIELD_KRETSTRAD
