# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_KEYBOARD_NAME
	default "Kretstrad"

config ZMK_SPLIT
	default y

if SHIELD_KRETSTRAD_V2_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

